#systemctl --user enable ezyvet_doc_printing.service
#systemctl --user start ezyvet_doc_printing.service
[Unit]
Description=Printing service for ezyvet docs

[Service]
Type=simple
ExecStart=/bin/bash -c "/home/mw/bin/print_doc_on_download.sh"

[Install]
WantedBy=default.target

