[Unit]
Description=Printing service for ezyvet labels

[Service]
Type=simple
ExecStart=/bin/bash -c "/home/mw/git/printing/print_label_on_download.sh"

[Install]
WantedBy=default.target
